@import url(dashboard.css);
@import url(../fonts/proxima-nova/fonts.css);
body, html {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  font-family: "Proxima Nova", Georgia, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#4b86c0), to(#b0c3d4));
  background: linear-gradient(to bottom, #4b86c0, #b0c3d4);
  padding: 5% 0; }

img {
  max-width: 100%;
  max-height: 100%; }

.navbar {
  padding: 0 !important; }

#window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1333px;
  height: 100%;
  max-height: 1090px;
  margin: 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: hidden;
  overflow-y: scroll; }

#header {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  padding: 23px 0; }
  #header .search-bar input, #header .search-bar button {
    display: inline-block; }
  #header > .container-fluid {
    padding-left: 24px;
    padding-right: 24px; }
  #header > .row {
    margin-left: -24px;
    margin-right: -24px; }
  #header .main-logo, #header .search-bar, #header .user-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  #header .user-bar {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    #header .user-bar .da {
      margin-right: 31px; }

#user-bar-header {
  background: #fff;
  width: 100%;
  border-bottom: 1px solid #d4d8d8; }
  #user-bar-header > .container-fluid {
    padding-left: 45px;
    padding-right: 45px; }
  #user-bar-header > .row {
    margin-left: -45px;
    margin-right: -45px; }

#left-sidebar {
  width: 200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #34495e; }
  #left-sidebar .sidebar-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    background: #2ecc71; }
  #left-sidebar .brand-logo {
    padding: 21px 0; }
    #left-sidebar .brand-logo .brand-title {
      font-size: 13px;
      color: white;
      margin-left: 13px; }
  #left-sidebar #sidebar-nav {
    padding: 20px 0; }
    #left-sidebar #sidebar-nav li {
      list-style: none;
      width: 100%; }
      #left-sidebar #sidebar-nav li .nav-link {
        color: #95a5a6;
        font-family: 'proxima_nova_ltsemibold', Georgia, sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 1.45em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 12px 1rem 13px;
        margin-top: 20px; }
        #left-sidebar #sidebar-nav li .nav-link:hover, #left-sidebar #sidebar-nav li .nav-link.active {
          color: #fff; }
        #left-sidebar #sidebar-nav li .nav-link:hover i.da:before,
        #left-sidebar #sidebar-nav li .nav-link.active i.da:before {
          color: #2ecc71; }
        #left-sidebar #sidebar-nav li .nav-link .da {
          margin-right: 26px; }
    #left-sidebar #sidebar-nav .nav-pills .nav-link.active, #left-sidebar #sidebar-nav .nav-pills .nav-link:hover {
      background-color: #243342 !important; }

.da {
  display: inline-block; }
  .da:before {
    color: #95a5a6;
    font-size: 16px;
    line-height: 1.45em; }

.nav-pills .nav-link {
  color: #000; }
  .nav-pills .nav-link.active {
    background: transparent !important;
    color: #000;
    position: relative; }

.navbar-white .nav-items {
  position: relative; }

#magic-line {
  display: inline;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 4px;
  margin: 0;
  padding: 0;
  background: #27ae60; }

#main {
  width: 933px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ecf0f1; }
  #main .user-depart > div {
    display: inline-block; }
  #main #main-content {
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow-y: scroll;
    padding: 38px 0; }
    #main #main-content > .container-fluid {
      padding-left: 45px;
      padding-right: 45px; }
    #main #main-content > .row {
      margin-left: -45px;
      margin-right: -45px; }
    #main #main-content [id*="table-"] .table-head {
      background: white;
      border-top: 1px solid #dee1e2;
      border-left: 1px solid #dee1e2;
      border-right: 1px solid #dee1e2;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      #main #main-content [id*="table-"] .table-head .course, #main #main-content [id*="table-"] .table-head [class*="course"] {
        color: #e67333; }
      #main #main-content [id*="table-"] .table-head .questions, #main #main-content [id*="table-"] .table-head [class*="questions"] {
        color: #8e44ad; }
      #main #main-content [id*="table-"] .table-head .exam, #main #main-content [id*="table-"] .table-head [class*="exam"] {
        color: #16a085; }
      #main #main-content [id*="table-"] .table-head:nth-child(2) {
        border: 0;
        background: #ecf0f1;
        border-bottom: 1px solid #dee1e2; }
        #main #main-content [id*="table-"] .table-head:nth-child(2) .course, #main #main-content [id*="table-"] .table-head:nth-child(2) [class*="course"] {
          color: #95a5a6; }
        #main #main-content [id*="table-"] .table-head:nth-child(2) .questions, #main #main-content [id*="table-"] .table-head:nth-child(2) [class*="questions"] {
          color: #95a5a6; }
        #main #main-content [id*="table-"] .table-head:nth-child(2) .exam, #main #main-content [id*="table-"] .table-head:nth-child(2) [class*="exam"] {
          color: #95a5a6; }
    #main #main-content [id*="table-"] .table-body {
      background: #fff;
      border-left: 1px solid #dee1e2;
      border-right: 1px solid #dee1e2;
      width: 100%; }
    #main #main-content [id*="table-"] .table-footer {
      background: #fff;
      border-bottom: 1px solid #dee1e2;
      border-left: 1px solid #dee1e2;
      border-right: 1px solid #dee1e2;
      width: 100%; }
    #main #main-content [id*="table-"] h1 {
      font-family: "proxima_nova_altbold", Georgia, sans-serif;
      font-size: 34px; }
    #main #main-content [id*="table-"] [class*="sub-"] {
      font-size: 12px;
      text-transform: uppercase;
      text-overflow: clip;
      white-space: nowrap; }
    #main #main-content .table-row {
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: 0;
      margin-left: 0; }
      #main #main-content .table-row:nth-child(2) {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1; }
  #main #user-bar-header {
    padding: 19px 0 0 0; }
  #main #main-content-nav .nav-link {
    padding: 0 !important; }
  #main #main-content-nav .nav-item {
    padding-right: 49px;
    padding-bottom: 19px;
    padding-top: 19px; }
/*# sourceMappingURL=style.css.map */