// hooks
// # FONT Family
$mainFont: 'Proxima Nova', Georgia, sans-serif;

// # font sizes
$sidebarNav: 14px;
$mainNav: 14px;
$tb_footer: 12px;

// # font colors
$sideNavC: #95a5a6;
$sideNavChover: #fff;
$mainNavC: #2c3e50;

// # background colors
$colorStart: #4b86c0;
$colorStop: #b0c3d4;
$logoBg: #2ecc71;
$mainBg: #ecf0f1;
$sidebarBg: #34495e;
$navLine: #27ae60;

// header navbar border colors
$hLine: #d4d8d8;

// tables in the main content
$borders: 1px solid #dee1e2;
	// tables section colors
	$sCourse:#e67333;
	$sQuest:#8e44ad;
	$sExam:#16a085;

// table h1
$h1_ff: 'proxima_nova_altbold', Georgia, sans-serif;
$h1_size: 34px;
// table subtitle
$subtitle_size: 12px;
// table text
$tb_row: 13px;
$tb_row_color:#7f8c8d;

// import fonts
@import 'dashboard.css';
@import '../fonts/proxima-nova/fonts.css';

// basic
body,html{margin:0;padding:0;height:100%;}
body{
	font-family: $mainFont;
	display:flex;
	justify-content:center;
	align-items:center;
	background:linear-gradient(to bottom, $colorStart , $colorStop);
	padding: 5% 0;
}
img{
	max-width:100%;
	max-height:100%;
}
a,button,input[type="submit"],.submit,#submit,.link{
	&:hover{
		cursor:pointer;
	}
}
.navbar{
	padding:0!important;
}
#window {
	display: flex;
	width: 1333px;
	height:100%;
	max-height: 1090px;
	margin: 0 auto;
	flex-direction:row;
	overflow-x: hidden;
	overflow-y: scroll;
}
#header{
	width:100%;
	background: #fff;
	border-bottom: 1px solid #e5e5e5;
	padding:23px 0;
	.search-bar{
		@extend .main-logo;
		input, button{
				display:inline-block;
			}
	}
	> .container-fluid{
		padding-left:24px;
		padding-right:24px;
		> .row{
			margin-left:0px;
			margin-right:0px;
		}
	}
	.main-logo{
		display:flex;
		justify-content:center;
		align-items:center;
	}
	.user-bar{
		@extend .main-logo;
		justify-content:flex-start;
		.da{
			margin-right:31px;
		}
	}
}
#user-bar-header {
	background: #fff;
	width: 100%;
	border-bottom:1px solid $hLine;
	> .container-fluid{
		padding-left:45px;
		padding-right:45px;
		> .row{
			margin-left:0px;
			margin-right:0px;
		}
	}
}
#left-sidebar{
	width:200px;
	height: 100%;
	display:flex;
	flex-direction:column;
	background: $sidebarBg;
	.sidebar-header {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		background:$logoBg;
	}
	.brand-logo{
		padding:21px 0;
		.brand-title{
			font-size:13px;
			color:white;
			margin-left:13px;
		}
	}
	#sidebar-nav {
		padding: 20px 0;
		li{
			list-style: none;
			width:100%;
			.nav-link{
				color:$sideNavC;
				font-family:'proxima_nova_ltsemibold', Georgia, sans-serif;
				font-size:$sidebarNav;
				text-transform:uppercase;
				line-height: 1.45em;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				padding:12px 1rem 13px;
				margin-top:20px;
				&:hover,&.active{
					color:$sideNavChover;
				}
				&:hover i.da:before,
				&.active i.da:before{
					color:$logoBg;
				}
				.da {
					margin-right: 26px;
				}
			}
		}
		.nav-pills{
			.nav-link.active,.nav-link:hover{
				background-color:#243342!important;
			}
		}
	}
}
.da{
	display:inline-block;
	&:before{
		color: inherit;
		font-size: inherit;
		line-height: inherit;
		text-decoration:inherit;
		font-style:normal;
		font-weight:100;
	}
}
*:hover{
	.da:before{
		color: inherit;
		font-size: inherit;
		line-height: inherit;
		text-decoration:inherit;
		font-style:normal;
		font-weight:100;
	}
}
.navbar-white{
	@at-root{
		.nav-pills{
			.nav-link{
				color:#000;
				&.active{
					background:transparent!important;
					color:#000;
					position:relative;
				}
			}
		}
	}
	.nav-items{
		position: relative;
	}
}
#magic-line {
	display:inline;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	width:100%;
	height:4px;
	margin:0;
	padding:0;
	background:$navLine;
}
#main {
	width: 933px;
	display: flex;
	flex: 1;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	background:$mainBg;
	.user-depart > div {
		display: inline-block;
	}
	.user-actions{
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
		flex: 1;
		> a{
			padding: 7px 12px;
			border: 1px solid #cdd1d7;
			border-radius: 50%;
			line-height: 1.45em;
			display: inline-table;
			margin-left: 13px;
			margin-top: 27px;
			i{
				color:#9ba3af;
			}
		}
	}
	#main-content{
		width:100%;
		display:block;
		box-sizing:border-box;
		overflow-y: scroll;
		padding: 38px 0;
		> .container-fluid{
			padding-left:45px;
			padding-right:45px;
		}
		> .row{
			margin-left:-45px;
			margin-right:-45px;
		}
		[id*="table-"]{
			.table-head{
				background:white;
				border-top: $borders;
				border-left:$borders;
				border-right:$borders;
				padding:0;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				.course,[class*="course"]{
					color:$sCourse;
				}
				.questions,[class*="questions"]{
					color:$sQuest;
				}
				.exam,[class*="exam"]{
					color:$sExam;
				}
				&:nth-child(2){
					border:0;
					background:$mainBg;
					border-bottom: $borders;
					.course,[class*="course"]{
						color:$sideNavC;
					}
					.questions,[class*="questions"]{
						color:$sideNavC;
					}
					.exam,[class*="exam"]{
						color:$sideNavC;
					}
				}
			}
			.table-body{
				background:#fff;
				border-left:$borders;
				border-right:$borders;
				width:100%;
			}
			.table-footer{
				background:#fff;
				border-bottom: $borders;
				border-left:$borders;
				border-right:$borders;
				width:100%;
				font-size:$tb_footer;
				padding: 7px 25px;
				text-align: right;
			}
			h1{
				font-family:$h1_ff;
				font-size:$h1_size;
			}
			[class*="sub-"]{
				font-size:$subtitle_size;
				text-transform:uppercase;
				text-overflow: clip;
				white-space: nowrap;
			}
		}
		.table-row{
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			margin-right: 0;
			margin-left: 0;
			&:nth-child(2) {
				flex: 1;
			}
		}
		#table-2{
			.before-content{
				min-width:35px;
			}
		}
		.tb-row{
			font-size:$tb_row;
			color:$tb_row_color;
			padding: 18px 25px;
			border-bottom: $borders;
			display:flex;
			.content{
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}
	#user-bar-header{
		padding:19px 0 0 0;
	}
	#main-content-nav{
		.nav-link{
			padding:0!important;
			font-size: $mainNav;
			font-weight: 900;
			text-transform: uppercase;
		}
		.nav-item{
			padding-right:49px;
			padding-bottom:19px;
			padding-top:19px;
		}
	}
}
