// hooks
// # FONT Family
$mainFont: '"Proxima Nova", Georgia, sans-serif';

// basic
body,html{margin:0;padding:0;height:100%;}
body{
	font-family: $mainFont
}
#window {
	display: block;
	width: 1133px;
	height: 100%;
	margin: 78px auto;
}
#left-sidebar{
	width:200px;
	height: 100%;
	.sidebar-header {
		height: 95px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	#sidebar-nav {
		padding: 20px 0;
		li{
			list-style: none;
		}
	}
}
