// hooks
// # FONT Family
$mainFont: 'Proxima Nova', Georgia, sans-serif;

// # font sizes
$sidebarNav: 14px;
$mainNav: 14px;
$tb_footer: 12px;

// # font colors
$sideNavC: #95a5a6;
$sideNavChover: #fff;
$mainNavC: #2c3e50;
$userFont: #9ba3af;
$textLink: #3498db;

// # background colors
$colorStart: #4b86c0;
$colorStop: #b0c3d4;
$logoBg: #2ecc71;
$mainBg: #ecf0f1;
$sidebarBg: #34495e;
$navLine: #27ae60;

// header navbar border colors
$hLine: #d4d8d8;

// tables in the main content
$borders: 1px solid #dee1e2;
	// tables section colors
	$sCourse:#e67333;
	$sQuest:#8e44ad;
	$sExam:#16a085;
// table row hover color
$tb_row_hover: #f6f8fc;

// table h1
$h1_ff: 'proxima_nova_altbold', Georgia, sans-serif;
$h1_size: 34px;
// table subtitle
$subtitle_size: 12px;
// table text
$tb_row: 13px;
$tb_row_color:#7f8c8d;

//viewportSize
$xs: 'screen and (min-width: 425px)';
$sm: 'screen and (min-width: 768px)';
$md: 'screen and (min-width: 1024px)';
$lg: 'screen and (min-width: 1200px)';
$xl: 'screen and (min-width: 1400px)';

// import fonts
@import 'dashboard.css';
@import '../fonts/proxima-nova/fonts.css';

@keyframes colorchange
    {
      0%   {background: white;}
      100% {background: $tb_row_hover;}
    }
@-webkit-keyframes colorchange
    {
      0%   {background: white;}
      100% {background: $tb_row_hover;}
    }
@keyframes
    {
      0%   {background: $tb_row_hover;}
      100% {background: white;}
    }
@-webkit-keyframes colorchangeBack
    {
      0%   {background: $tb_row_hover;}
      100% {background: white;}
    }

@keyframes btnBackToTop
	{
		0%		{ box-shadow: -2px 0px 5px 0 #000, inset -3px -2px 6px #fff; }
		25%		{ box-shadow: -2px 3px 5px 0 #000, inset -3px 2px 6px #fff; }
		50%		{ box-shadow: 2px 3px 5px 0 #000, inset 3px 2px 6px #fff; }
		75%		{ box-shadow: 2px -3px 5px 0 #000, inset 3px -2px 6px #fff; }
		100%	{ box-shadow:-2px 0px 5px 0 #000, inset -3px -2px 6px #fff; }
	}
@-webkit-keyframes btnBackToTop
	{
		0%		{ box-shadow: -2px 0px 5px 0 #000, inset -3px -2px 6px #fff; }
		25%		{ box-shadow: -2px 3px 5px 0 #000, inset -3px 2px 6px #fff; }
		50%		{ box-shadow: 2px 3px 5px 0 #000, inset 3px 2px 6px #fff; }
		75%		{ box-shadow: 2px -3px 5px 0 #000, inset 3px -2px 6px #fff; }
		100%	{ box-shadow:-2px 0px 5px 0 #000, inset -3px -2px 6px #fff; }
	}
@keyframes bttHover
	{
		0%		{ text-shadow: 0 .5em 0 #000, 0 0em 0 #000, 0 -.5em 0 #000; }
		100%	{ text-shadow: 0 0em 0 #000, 0 0em 0 #000, 0 0em 0 #000; }
	}

// basic
body,html{margin:0;padding:0;height:100%;}
body{
	font-family: $mainFont;
	display:flex;
	justify-content:center;
	align-items:center;
	background:linear-gradient(to bottom, $colorStart , $colorStop);
	@media #{$md}{
		padding: 5% 0;
	}
	@media screen and (max-width:425px){
		font-size:100%;
	}
}
img{
	max-width:100%;
	max-height:100%;
}
h4,.h4{
	font-size:120%;
	@media #{$xs}{
		font-size:1.5rem;
	}
}
a,button,input[type="submit"],.submit,#submit,.link{
	&:hover{
		cursor:pointer;
	}
	&:active,&:focus{
		border:0;
		outline:0;
		box-shaddow:0;
	}
}
.navbar{
	padding:0!important;
}
.text-italic{
	font-style:italic;
}
.text-bold{
	font-weight:calc(inherit+200);
}
.text-gray{
	color:$userFont;
}
.text-link{
	color:$textLink;
}
@for $i from 1 through 100 {
  .font-#{$i} {
    font-size: #{$i}px;
  }
}
$where: bottom;

@if $where == "bottom" {
	//@debug "$where is #{$where}";
	$where: bottom;
	@for $n from 1 through 100 {
		.padd-#{$where}-#{$n} {
			padding-#{$where}: #{$n}px;
		}
	}
} @else if $where == "top" {
	//@debug "$where is #{$where}";
	@debug $where;
	@for $n from 1 through 100 {
		.padd-#{$where}-#{$n} {
			padding-#{$where}: #{$n}px;
		}
	}
}
.dropdown{
	margin-right:31px;
	&-toggle::after{
		display:none;
	}
	&#user-info{
		.dropdown-menu{
			min-width:10rem;
		}
	}
	a{
		color:$userFont;
	}
	.dropdown-menu{
		max-width:20rem;
		width:auto;
		box-shadow: 0px 5px 6px -1px #cecece;
		@media #{$sm}{
			min-width:20rem;
			max-width:30rem;
		}
		padding:0;
		z-index:99;
		.message, .notification-content{
			display: flex;
			overflow: hidden;
			flex: 1;
			justify-content: flex-start;
			align-items: center;
			flex-direction: row;
			padding:10px 5px;
			border-bottom: $borders;
			&:last-child{border-bottom:0;}
			&:hover{cursor:pointer;}
			span {
				display:inline;
				white-space:nowrap;
				margin-right:5px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				&:last-child{
					margin-right:0;
				}
			}
			.sender{
				&-message{
					overflow:hidden;
					text-overflow: ellipsis;
					white-space:nowrap;
				}
			}
			.time{
				flex-grow: 2;
				text-align: right;
			}
			&:hover{
				background:$tb_row_hover;
			}
			&.unread-message{
				animation: colorchange 1.42s;
				-webkit-animation: colorchange 1.42s;
				background:$tb_row_hover;
				&:hover{
					animation: colorchangeBack 1.42s;
					-webkit-animation: colorchangeBack 1.42s;
					background:white;
				}
			}
		}
	}
	&#user-notification{
		.badge{
			position:absolute;
			top: -7.5px;
			right: -6.25px;
			border-radius: 50%;
			font-size: 10px;
		}
	}
}
#window {
	position:relative;
	display: flex;
		width: 100%;
	@media #{$md}{
		width: 992px;
	}
	@media #{$lg} {
		width: 1133px;
	}
	@media #{$xl} {
		width: 1333px;
	}
	height:100%;
	@media #{$lg}{
		max-height: 1090px;
	}
	margin: 0 auto;
	flex-direction:row;
	overflow-x: hidden;
	overflow-y: scroll;
}
#header{
	width:100%;
	background: #fff;
	border-bottom: 1px solid #e5e5e5;
	padding: 10px 0;
	z-index: 99;
	&.sticky{
		position:fixed;
	}
	@media #{$sm}{
		padding:15px 0;
	}
	@media #{$md}{
		padding:23px 0;
	}
	.search-bar{
		#search-bar-form{
			display:block;
		}
		#search-bar-overlay{
			@media #{$sm}{
				display:none;
			}
			a{
				color:$userFont;
			}
			&:hover{
				cursor:pointer;
			}
		}
		.describ{
			position: absolute;
			top: -25px;
			@media #{$sm}{
				display:none;
			}
			@media #{$md}{
				top:-2.5em;
			}
			left: 0;
			color: #cdcdcd;
			font-size: 3.6vw;
			text-align: center;
			width: 100%;
		}
		@extend .main-logo;
		input, button{
				display:inline-block;
				z-index: 105;
				position: absolute;
				right: 0;
				top: 0;
				background:transparent;
				box-shadow:0;
				border:0;
				outline:0;
				@media #{$sm}{
					position:static;
					border-radius:5px;
				}
				&[name="submit"]{
					width:35px;
					height:35px;
				}
				&[name="clear-search"]{
					display:none;
					top:3px;
					right:40px;
					background:#fff;
					border-radius:50%;
					width:25px;
					height:25px;
					font-size:1em;
					line-height:1em;
					color: rgba(0,0,0,.85);
					@media #{$sm}{
						position:absolute;
						background:#000;
						color: #fff;
						width: 18px;
						height: 18px;
						font-size: .75em;
						line-height: .5em;
						top:7px;
					}
				}
			}
		form[name="search"]{
			position:relative;
			input[type="text"]{
				width:100%;
				left:0;
				z-index: 99;
				box-shadow: 0px 1px 0px #fff;
				border: 0;
				padding:10px 0;
				color:#fff;
				@media #{$sm}{
					color:#000;
					padding:5px 10px;
					width:auto;
					transition:ease-in-out .42s all;
				}
				&::placeholder{
					color:white;
					@media #{$sm}{
						color:#cdcdcd;
					}
				}
				&:focus{
					@media #{$sm}{
						box-shadow: 0px 1px 0 #cdcdcd;
					}
				}
			}
			.da{
				color:#fff;
				@media #{$sm}{
					color:#000;
				}
			}
		}
	}
	> .container-fluid{
		padding-left:24px;
		padding-right:24px;
		> .row{
			margin-left:0px;
			margin-right:0px;
		}
	}
	.main-logo{
		display:flex;
		justify-content:center;
		align-items:center;
	}
	.user-bar{
		@extend .main-logo;
		justify-content:flex-start;
		.da{
			//margin-right:31px;
		}
	}
}
.overlay{
	position:fixed;
	top:0;
	left:0;
	width:0;
	height:100%;
	margin:0;
	padding:0;
	overflow:hidden;
	background:rgba(0,0,0,.85);
	z-index:999;
	@media #{$sm}{
		position:static;
		background:transparent;
		height:auto;
		width:auto;
		overflow:visible;
	}
	&-content{
		width: 100%;
		padding: 0 15px;
		margin: 0 auto;
		position: absolute;
		transform: translate(0, 50%);
		height: 100%;
		top: 0;
		left: 0;
		@media #{$sm}{
			position:static;
			transform: translate(0,0);
			height:auto;
		}
	}
	span{
		display:block;
		text-align:right;
		width:100%;
		height:auto;
		@media #{$sm}{
			display:none;
		}
		a{
			color:$userFont;
			text-shadow: 1px 0px 0 #fff,-1px 0px 0 #fff,0px -1px 0 #fff;
			line-height:1.25em;
			font-size: 2.75em;
			margin: 20px;
			&:hover{
				text-decoration: none;
			}
		}
	}
}
#user-bar-header {
	background: #fff;
	width: 100%;
	border-bottom:1px solid $hLine;
	@media #{$md}{
		> .container-fluid{
			padding-left:45px;
			padding-right:45px;
			> .row{
				margin-left:0px;
				margin-right:0px;
			}
		}
	}
}
#left-sidebar{
	width: 0;
	.navbar.navbar-dark{
		display:none;
		@media #{$sm}{
			display: block;
		}
	}
	@media #{$sm}{
		width:75px;
	}
	@media #{$lg}{
		width:200px;
		overflow:hidden;
		.navbar.navbar-dark{
			display:flex;
		}
	}
	height: 100%;
	display:flex;
	flex-direction:column;
	background: $sidebarBg;
	.sidebar-header {
		display: none;
		@media #{$sm}{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
		}
		background:$logoBg;
	}
	.brand-logo{
		padding:21px 0;
		.brand-title{
			font-size:13px;
			color:white;
			margin-left:13px;
			display:none;
			@media #{$lg}{
				display:inline-block;
			}
		}
	}
	#sidebar-nav {
		padding: 20px 0;
		li{
			list-style: none;
			width:100%;
			.nav-link{
				color:$sideNavC;
				font-family:'proxima_nova_ltsemibold', Georgia, sans-serif;
				font-size:$sidebarNav;
				text-transform:uppercase;
				line-height: 1.45em;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				padding:12px 1rem 13px;
				margin-top:20px;
				&:hover,&.active{
					color:$sideNavChover;
				}
				&:hover i.da:before,
				&.active i.da:before{
					color:$logoBg;
				}
				.da {
					font-size: 1.5em;
					line-height: 1em;
					margin-right: 26px;
					@media #{$sm}{
						font-size: 2em;
					}
					@media #{$lg}{
						font-size: 1.5em;
					}
				}
			}
		}
		.nav-pills{
			.nav-link.active,.nav-link:hover{
				background-color:#243342!important;
			}
		}
	}
}
.da{
	display:inline-block;
	&:before{
		color: inherit;
		font-size: inherit;
		line-height: inherit;
		text-decoration:inherit;
		font-style:normal;
		font-weight:100;
	}
}
*:hover{
	.da:before{
		color: inherit;
		font-size: inherit;
		line-height: inherit;
		text-decoration:inherit;
		font-style:normal;
		font-weight:100;
	}
}
.navbar-white{
	@at-root{
		.nav-pills{
			.nav-link{
				color:#000;
				&.active{
					background:transparent!important;
					color:#000;
					position:relative;
				}
			}
		}
	}
	.nav-items{
		position: relative;
	}
}
#magic-line {
	display:inline;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	width:100%;
	height:4px;
	margin:0;
	padding:0;
	background:$navLine;
}
.menu-collapse{
	display:block;
	@media #{$sm}{
		display:none;
	}
	position:absolute;
	top:4.70rem;
	@media #{$md}{
		top: 6em;
	}
	left:0;
	z-index: 96;
	a{
		text-decoration:none;
		color:#000;
		background:#000;
		display: block;
		padding: 10px;
		border-radius: 0 10px 4px 10px;
		span{
			display:block;
			width:25px;
			height:4px;
			margin-bottom:4px;
			background:#fff;
			&:last-child{
				margin-bottom:0;
			}
		}
	}
	@media #{$lg}{
		display:none;
	}
}
#main {
	width: 933px;
	display: flex;
	flex: 1;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	background:$mainBg;
	overflow: hidden;
	.user-depart > div {
		display: inline-block;
	}
	.user-rating{
		.checked{
			color:orange;
		}
	}
	.user-actions{
		display: flex;
		@media screen and (max-width:424px){
			flex-direction:column;
			position:absolute;
			top:0;
			right:0;
			justify-content: center;
			align-items: flex-end;
			align-content: space-between;
		}
		@media #{$xs}{
			justify-content: flex-end;
			align-items: flex-start;
			flex: 1;
		}
		> a{
			padding: 7px 12px;
			border: 1px solid #cdd1d7;
			border-radius: 50%;
			line-height: 1.45em;
			display: inline-table;
			margin-left: 13px;
			@media #{$sm}{
				margin-top: 27px;
			}
			i{
				color:$userFont;
			}
			&:hover{
				background:$logoBg;
				border-color:$logoBg;
				i{
					color:white;
				}
			}
		}
	}
	#main-content{
		width:100%;
		display:block;
		box-sizing:border-box;
		overflow-y: scroll;
		padding: 38px 0;
		@media #{$md}{
			> .container-fluid{
				padding-left:45px;
				padding-right:45px;
			}
		}
		.nav{
			flex-wrap:nowrap;
		}
		[id*="table-"]{
			padding-bottom: 20px;
			&:last-child{
				padding-bottom:0;
			}
			.table-head{
				a{
					display:flex;
					justify-content:center;
					align-items:center;
					flex-direction:column;
					flex: 1;
					padding-top: 19px;
					padding-bottom: 15px;
					&:hover{
						text-decoration:none;
					}
				}
				&.tab-head-active{
					background:white;
					border-top: $borders;
					border-left:$borders;
					border-right:$borders;
					padding:0;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					border-radius:4px 0 0 0;
					.course,[class*="course"]{
						color:$sCourse;
					}
					.questions,[class*="questions"]{
						color:$sQuest;
					}
					.exam,[class*="exam"]{
						color:$sExam;
					}
				}
				&.cell-disabled{
					.course,[class*="course"]{
						color:$sideNavC;
					}
					.questions,[class*="questions"]{
						color:$sideNavC;
					}
					.exam,[class*="exam"]{
						color:$sideNavC;
					}
				}
				&:nth-child(2){
					border-radius:0 4px 0 0;
				}
			}
			.table-body{
				background:#fff;
				border-left:$borders;
				border-right:$borders;
				border-radius: 0 4px 0 0;
				width:100%;
			}
			.table-footer{
				background:#fff;
				border-bottom: $borders;
				border-left:$borders;
				border-right:$borders;
				width:100%;
				font-size:$tb_footer;
				padding: 7px 25px;
				text-align: right;
				border-radius: 0 0 4px 4px;
			}
			h1{
				font-family:$h1_ff;
				font-size:$h1_size;
			}
			[class*="sub-"]{
				font-size:$subtitle_size;
				text-transform:uppercase;
				text-overflow: clip;
				white-space: nowrap;
			}
		}
		.table-row{
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			margin-right: 0;
			margin-left: 0;
			&:nth-child(2) {
				flex: 1;
			}
		}
		[id*="table-"]{
			&:not(#table-friends):not(#table-stats){
				.table-row{
					&:nth-child(2),&:nth-child(3){
						display:none;
					}
					&.tab-active{
						display:flex;
					}
				}
			}
		}
		.tb-row{
			font-size:$tb_row;
			color:$tb_row_color;
			padding: 18px 25px;
			border-bottom: $borders;
			display:flex;
			align-items: center;
			position:relative;
			.content{
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			&:hover{
				background:$tb_row_hover;
				cursor:pointer;
				&:before{
					content:'';
					display:inline;
					height:100%;
					background:gray;
					width:4px;
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
		#table-1{
			.tb-row:hover:before{
				background:$sCourse;
			}
		}
		#table-2{
			.before-content{
				min-width:35px;
				display: flex;
				align-items: center;
			}
			.tb-row:hover:before{
				background:$sQuest;
			}
		}
		#table-3{
			.tb-row:hover:before{
				background:$sExam;
			}
			#following{
				.before-content{
					position:absolute;
					bottom:0;
					display:block;
					width:100%;
					height:100%;
					left: 0;
					padding: 0 25px;
					.chart {
						height: 70%;
						position: absolute;
						bottom: 0;
						display: flex;
						flex-direction: column;
						justify-content: flex-end;
						align-items: center;
					}
				}
				.content{
					margin-left: 40px;
				}
			}
		}
		#table-stats{
			.tb-row:hover{
				background:transparent;
				cursor:default;
				&:before{
					display:none;
				}
			}
			.table{
				&-head,&-body,&-footer{
					border-right:0;
				}
				&-body{
					border-top:$borders;
					border-radius:4px 0 0 4px;
				}
			}
		}
		#table-friends{
			.tb-row:hover:before{
				background:$sQuest;
			}
			.table{
				&-head{
					background:white;
					border-top: $borders;
					border-left:$borders;
					border-right:$borders;
					padding:0;
					display: flex;
					flex-direction: column;
					justify-content: center;
					border-radius:0 4px 0 0;
					align-items:flex-start;
					width:100%;
					padding:10px 25px;
					border-bottom:$borders;
				}
				&-body{
					border-radius:0 0 0 0;
					.tb-row{
						border:0;
						&:after{
							content:'';
							display:block;
							width:92.6%;
							height:1px;
							background:#dee1e2;
							background: #dee1e2;
						    position: absolute;
						    bottom: 0;
						    left: 25px;
						}
					}
				}
				&-footer{
					border-radius:0 0 4px 0;
				}
			}
		}
	}
	.user-info-head {
		display:flex;
		flex-direction:column;
		align-items: flex-start;
		@media #{$xs}{
			display: inline-flex;
			flex-direction:row;
			align-items: center;
		}
		flex: 1;
		justify-content: flex-start;
		.user-rating{
			margin-bottom:.5rem;
			margin-left:1.2em;
		}
	}
	.user-depart, .user-exp{
		color:$userFont;
		display:inline-table;
		@media #{$xs}{
			display:block;
		}
	}
	#user-bar-header{
		padding:19px 0;
		position:relative;
		@media #{$xs}{
			padding:19px 0 0 0;
		}
		&.sticky{
			position:absolute;
			padding:0;
		}
	}
	#main-content-nav{
		display: none;
		@media #{$xs}{
			display:block
		}
		.nav-link{
			padding:0!important;
			font-size: $mainNav;
			font-weight: 900;
			text-transform: uppercase;
		}
		.nav-item{
			@media #{$sm}{
				padding-right:40px;
				padding-bottom:19px;
				padding-top:19px;
			}
			@media #{$md}{
				padding-right:45px;
			}
			@media #{$xl}{
				padding-right:49px;
			}
			padding: 19px 5px 19px 0;
		}
	}
	.table{
		display:inline-block;
		&:first-child, #table-stats{
			@media #{$lg}{
				width: 33.5%;
				padding: 38px 0 0 15px;
			}
		}
		&:nth-child(2), #table-friends, &:last-child{
			@media #{$lg}{
				width:65%;
				padding:38px 0;
			}
		}
		&-title{
			color:$sideNavC;
		}
	}
	.person{
		font-size:13px;
		&-avatar{
			margin-right:13px;
		}
		&-name{
			font-weight:bold;
			color:$textLink;
			margin-right:8px;
		}
		&-activity{
			color:#7f8c8d;
			margin-right:3px;
		}
		&-subject{
			font-weight:bold;
			color:#2c3e50;
		}
	}
	.date{
		color:#bdc3c7;
		font-size:12px;
	    display: flex;
	    flex: 8 0 0;
		justify-content: flex-end;
		i{
			margin-right:5px;
		}
	}
}
.user{
	&-info{
		@media screen and (max-width:736px) and (orientation: landscape){
			display: none;
		}
		@media #{$xs} and (orientation: portrait){
			display: flex;
			flex-direction: column;
		}
	}
	&-avatar{
		@media screen and (max-width:736px) and (orientation: landscape){
			display: none;
		}
		@media #{$xs} and (orientation: portrait){
			display: flex;
			flex-direction: column;
		}
	}
	&-actions{
		@media screen and (max-width:736px) and (orientation: landscape){
			position: absolute;
			right: 0;
		}
		@media #{$xs} and (orientation: portrait){
			position:static;
		}
	}
}
.btn-to-top{
	visibility:hidden;
	opacity:0;
	position:fixed;
	bottom:2em;
	right:2em;
	width:2em;
	height:2em;
	border-radius:50%;
	background:#cdcdcd;
	transition:ease-in-out .42s all;
	z-index:999;
	font-size: 1.2em;
	line-height: 2em;
	text-align: center;
	color: transparent;
	box-shadow:-2px 0px 5px 0 #000, inset -3px -2px 6px #fff;
	&.is-visible{
		visibility:visible;
	}
	&.fade-out{
		opacity:1;
		animation: btnBackToTop .65s;
		-webkit-animation: btnBackToTop .65s;
		text-shadow: 0 .5em 0 #000, 0 0em 0 #000, 0 -.5em 0 #000;
	}
	&:hover{
		cursor: pointer;
		animation: bttHover .42s;
		-webkit-animation: bttHover .42s;
		text-shadow: 0 0em 0 #000, 0 0em 0 #000, 0 0em 0 #000;
		box-shadow:0px 0px 5px 0 #000, inset 0px 0px 6px #fff;
	}
}
